src/Rollerworks/Bundle/SearchBundle/Resources/doc/_themes
src/Rollerworks/Bundle/SearchBundle/Resources/doc/_build
/phpunit.xml
/composer.lock
/composer.phar
/vendor/
/bin/

# Translations are stored in the core rollerworks/search package
# and are mirror by the RollerworksSearchExtension
/src/Rollerworks/Bundle/SearchBundle/Resources/translations
Resources/translations
