language: php

install:
    - composer install

script:
    - phpunit

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
    allow_failures:
        - php: 5.6
        - php: hhvm # expirimental
        - php: hhvm-nightly
