language: php

sudo: false

branches:
    only:
        - master

matrix:
    include:
        - php: '7.1'
        - php: '7.1'
          env: deps='low'

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - phpenv config-rm xdebug.ini || echo "xdebug not available"
    - export PATH="$PATH:$HOME/.composer/vendor/bin"

install:
    - export SYMFONY_PHPUNIT_REMOVE="symfony/yaml"
    - export SYMFONY_PHPUNIT_VERSION=5.4.8
    - export SYMFONY_DEPRECATIONS_HELPER=strict
    - if [[ ! $deps ]]; then composer update --prefer-dist --no-progress --no-suggest --ansi; fi
    - if [[ $deps = 'dev' ]]; then composer config minimum-stability dev && composer update --prefer-dist --no-progress --no-suggest --ansi ; fi
    - if [[ $deps = 'low' ]]; then composer update --prefer-dist --no-progress --no-suggest --prefer-stable --prefer-lowest --ansi; fi

script:
    - vendor/bin/simple-phpunit --verbose
