parameters:
    autoload_files:
        - vendor/autoload.php
    ignoreErrors:
        #- '#__construct\(\) does not call parent constructor from .+#'

        # ValueHolder guard there own correctness. A ValuesBag never returns a wrong object (collection).
        - '#expects Rollerworks\\Component\\Search\\Value\\[a-zA-Z]+, Rollerworks\\Component\\Search\\Value\\ValueHolder given#'
        - '#expects Rollerworks\\Component\\Search\\Value\\[a-zA-Z]+\[\], Rollerworks\\Component\\Search\\Value\\ValueHolder\[\] given#'
        - '#Call to an undefined method Rollerworks\\Component\\Search\\Value\\ValueHolder\:\:#'

        # False positive
        - '#Call to an undefined method Rollerworks\\Component\\Search\\Field\\FieldConfig\:\:finalizeConfig\(\)#'
        - '#Call to an undefined method DateTimeInterface\:\:setTimezone\(\)#'
        - '#Call to an undefined method Money\\Exception\:\:getMessage\(\)#'
        - '#Call to an undefined method Exception\:\:getErrors\(\)#'
        - '#expects Rollerworks\\Component\\Search\\Field\\FieldTypeExtension\[\], Rollerworks\\Component\\Search\\Field\\FieldTypeExtension\[\]\[\] given#'
        - '#\(mixed\[\]\[\]\) does not accept iterable\(iterable\(mixed\[\]\)\[\]\)#'
        - '#Undefined variable: \$(c|flatChoices)#'

        # Tests
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[a-zA-Z0-9_]+\(\)#'
        #- '#Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy::\$[a-zA-Z0-9_]+#'
        - '#Call to an undefined method PHPUnit_Framework_MockObject_MockObject::[a-zA-Z0-9_]+\(\)#'
        - '#expects\s+[^\s]+, PHPUnit_Framework_MockObject_MockObject(\[\])? given#'
        - '#does not accept PHPUnit_Framework_MockObject_MockObject#'
        - '#but returns PHPUnit_Framework_MockObject_MockObject#'
        - '#Call to an undefined static method Money\\Money\:\:#'

        ## Transformations are tested to ensure there input type is valided.
        - '#\:\:transform\(\) expects [^\s]+, [^\s]+ given#'
        - '#\:\:reverseTransform\(\) expects [^\s]+, [^\s]+ given#'
