parameters:
	ignoreErrors:
		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: lib/ApiPlatform/Elasticsearch/Extension/SearchExtension.php

		-
			message: "#^Parameter \\#3 \\$resourceClass of method Rollerworks\\\\Component\\\\Search\\\\ApiPlatform\\\\Doctrine\\\\Orm\\\\Extension\\\\SearchExtension\\:\\:applyToCollection\\(\\) expects class\\-string, string given\\.$#"
			count: 4
			path: lib/ApiPlatform/Tests/Doctrine/Orm/Extension/SearchExtensionTest.php

		-
			message: "#^Call to an undefined static method Carbon\\\\Translator\\:\\:get\\(\\)\\.$#"
			count: 1
			path: lib/Core/Extension/Core/DataTransformer/DateIntervalTransformer.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Field\\\\OrderField\\:\\:\\$valueComparator is never written, only read\\.$#"
			count: 1
			path: lib/Core/Field/OrderField.php

		-
			message: "#^Method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Extension\\\\Core\\\\ChoiceList\\\\Factory\\\\DefaultChoiceListFactoryTest\\:\\:assertScalarListWithCustomValues\\(\\) is unused\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/DefaultChoiceListFactoryTest.php

		-
			message: "#^Parameter \\#1 \\$choices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, null\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#1 \\$choices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, string\\> given\\.$#"
			count: 8
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#2 \\$preferredChoices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, false\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#2 \\$preferredChoices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, true\\> given\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToLocalizedStringTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, float given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToLocalizedStringTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToRfc3339Transformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php

		-
			message: "#^Parameter \\#1 \\$rfc3339 of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToRfc3339Transformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToStringTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToTimestampTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToTimestampTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\IntegerToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\IntegerToStringTransformer\\:\\:reverseTransform\\(\\) expects string, array\\<int, string\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/IntegerToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToLocalizedStringTransformer\\:\\:transform\\(\\) expects Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\Model\\\\MoneyValue\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToStringTransformer\\:\\:reverseTransform\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToStringTransformer\\:\\:transform\\(\\) expects Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\Model\\\\MoneyValue\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\NumberToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/NumberToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\NumberToStringTransformer\\:\\:reverseTransform\\(\\) expects string, array\\<int, string\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/NumberToStringTransformerTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/Type/CountryTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/CurrencyTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/DateTimeTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/Type/DateTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/IntegerTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/Type/LanguageTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/LocaleTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/MoneyTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/NumberTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 3
			path: lib/Core/Tests/Extension/Core/Type/TimeTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/TimezoneTypeTest.php

		-
			message: "#^Method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Field\\\\ResolvedFieldTypeTest\\:\\:getMockFieldType\\(\\) should return PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldType but returns PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\.$#"
			count: 1
			path: lib/Core/Tests/Field/ResolvedFieldTypeTest.php

		-
			message: "#^Variable \\$this in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: lib/Core/Tests/GenericFieldSetBuilderTest.php

		-
			message: "#^Parameter \\#1 \\$compares of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Query\\\\QueryGenerator\\:\\:processCompares\\(\\) expects array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\Compare\\>, array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\ValueHolder\\> given\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Query/QueryGenerator.php

		-
			message: "#^Parameter \\#1 \\$patternMatchers of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Query\\\\QueryGenerator\\:\\:processPatternMatchers\\(\\) expects array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\PatternMatch\\>, array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\ValueHolder\\> given\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Query/QueryGenerator.php

		-
			message: "#^Parameter \\#1 \\$ranges of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Query\\\\QueryGenerator\\:\\:processRanges\\(\\) expects array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\Range\\>, array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\ValueHolder\\> given\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Query/QueryGenerator.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Test/QueryBuilderAssertion.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Configuration\\:\\:setSQLLogger\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/DbalExtensions/Connection.php

		-
			message: "#^Method Doctrine\\\\DBAL\\\\Connection\\:\\:__construct\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/DbalExtensions/Connection.php

		-
			message: "#^Parameter \\$params of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Tests\\\\DbalExtensions\\\\Connection\\:\\:__construct\\(\\) has invalid type Doctrine\\\\DBAL\\\\Params\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/DbalExtensions/Connection.php

		-
			message: "#^Access to an undefined property Doctrine\\\\DBAL\\\\Connection\\:\\:\\$queryLog\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:ASCII\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:BINARY\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:BOOLEAN\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:INTEGER\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:LARGE_OBJECT\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:NULL\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Invalid array key type Doctrine\\\\DBAL\\\\ParameterType\\:\\:STRING\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Functional/FunctionalDbalTestCase.php

		-
			message: "#^Method Doctrine\\\\DBAL\\\\Connection\\:\\:__construct\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Mocks/ConnectionMock.php

		-
			message: "#^Parameter \\$params of method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Dbal\\\\Mocks\\\\ConnectionMock\\:\\:__construct\\(\\) has invalid type Doctrine\\\\DBAL\\\\Params\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Mocks/ConnectionMock.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Dbal\\\\Mocks\\\\ConnectionMock\\:\\:\\$_platform is never read, only written\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Mocks/ConnectionMock.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Connection\\:\\:getEventManager\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/TestUtil.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Connection\\:\\:getSchemaManager\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/TestUtil.php

		-
			message: "#^Class Doctrine\\\\DBAL\\\\Platforms\\\\SQLitePlatform referenced with incorrect case\\: Doctrine\\\\DBAL\\\\Platforms\\\\SqlitePlatform\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Tests/TestUtil.php

		-
			message: "#^Parameter \\#1 \\$className of method PHPUnit\\\\Framework\\\\TestCase\\:\\:getMockBuilder\\(\\) expects class\\-string\\<Doctrine\\\\Common\\\\Cache\\\\Cache\\>, string given\\.$#"
			count: 1
			path: lib/Doctrine/Orm/Tests/CachedDqlConditionGeneratorTest.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Orm\\\\CachedDqlConditionGeneratorTest\\:\\:\\$cacheDriver \\(PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Psr\\\\SimpleCache\\\\CacheInterface\\) does not accept Doctrine\\\\Common\\\\Cache\\\\Cache&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\.$#"
			count: 1
			path: lib/Doctrine/Orm/Tests/CachedDqlConditionGeneratorTest.php

		-
			message: "#^Offset 0 does not exist on array\\<string, Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Orm\\\\OrmQueryField\\>\\.$#"
			count: 2
			path: lib/Doctrine/Orm/Tests/FieldConfigBuilderTest.php

		-
			message: "#^Method Doctrine\\\\ORM\\\\Tools\\\\SchemaTool\\:\\:updateSchema\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: lib/Doctrine/Orm/Tests/OrmTestCase.php

		-
			message: "#^Variable \\$nestedBool might not be defined\\.$#"
			count: 2
			path: lib/Elasticsearch/QueryConditionGenerator.php

		-
			message: "#^Variable \\$query on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: lib/Elasticsearch/QueryConditionGenerator.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: lib/Elasticsearch/Tests/QueryConditionGeneratorTest.php

		-
			message: "#^Method Doctrine\\\\ORM\\\\Tools\\\\SchemaTool\\:\\:updateSchema\\(\\) invoked with 2 parameters, 1 required\\.$#"
			count: 1
			path: lib/Symfony/SearchBundle/Tests/Functional/ApiPlatformTest.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Symfony\\\\Validator\\\\InputValidator\\:\\:\\$errorList is never read, only written\\.$#"
			count: 1
			path: lib/Symfony/Validator/InputValidator.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Symfony\\\\Validator\\\\InputValidator\\:\\:\\$field is never read, only written\\.$#"
			count: 1
			path: lib/Symfony/Validator/InputValidator.php

