includes:
	- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
	- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
	- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    #reportUnmatchedIgnoredErrors: false
    #checkNullables: false

    tmpDir: %currentWorkingDirectory%/var/phpstan
    level: 5

    autoload_files:
        - vendor/autoload.php

    paths:
        - ./lib
    excludes_analyse:
        - */lib/*/Tests/Fixtures/*
        - %currentWorkingDirectory%/lib/*/Tests/**
        - %currentWorkingDirectory%/lib/*/*/Tests/**

    ignoreErrors:
        # ValueHolder guard there own correctness. A ValuesBag never returns a wrong object (collection).
        - '#expects Rollerworks\\Component\\Search\\Value\\[a-zA-Z]+, Rollerworks\\Component\\Search\\Value\\ValueHolder given#'
        - '#Call to an undefined method Rollerworks\\Component\\Search\\Value\\ValueHolder\:\:#'
        - '#expects array<Rollerworks\\Component\\Search\\Value\\[a-z]+>, array<Rollerworks\\Component\\Search\\Value\\ValueHolder> given#i'

        # False positive
        - '#Call to an undefined method DateTimeInterface\:\:setTimezone\(\)#'
        - '#Result of \|\| is always true#'
        - '#Negated boolean expression is always false#'

        ## Symony Config
        - '# Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition given#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:#'

        ## Doctrine
        - '#Call to an undefined method Doctrine\\DBAL\\Driver\\PDOConnection\:\:sqliteCreateFunction\(\)#'
        - '#Parameter \#2 \$type of method Doctrine\\DBAL\\Connection\:\:quote\(\) expects ([^\s]+)#'
        - '#Call to an undefined method Rollerworks\\Component\\Search\\Doctrine\\Orm\\ConditionGenerator\:\:get[a-zA-Z]+#'
