parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Carbon\\\\Translator\\:\\:get\\(\\)\\.$#"
			count: 1
			path: lib/Core/Extension/Core/DataTransformer/DateIntervalTransformer.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/Core/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformer.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\OrderTransformer\\:\\:\\$default is never read, only written\\.$#"
			count: 1
			path: lib/Core/Extension/Core/DataTransformer/OrderTransformer.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Field\\\\OrderField\\:\\:\\$valueComparator is never written, only read\\.$#"
			count: 1
			path: lib/Core/Field/OrderField.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Input\\\\CachingInputProcessor\\:\\:\\$ttl is never read, only written\\.$#"
			count: 1
			path: lib/Core/Input/CachingInputProcessor.php

		-
			message: "#^Method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Extension\\\\Core\\\\ChoiceList\\\\Factory\\\\DefaultChoiceListFactoryTest\\:\\:assertScalarListWithCustomValues\\(\\) is unused\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/DefaultChoiceListFactoryTest.php

		-
			message: "#^Parameter \\#1 \\$choices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, null\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#1 \\$choices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, string\\> given\\.$#"
			count: 8
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#2 \\$preferredChoices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, false\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#2 \\$preferredChoices of class Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceListView constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceGroupView\\|Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\ChoiceList\\\\View\\\\ChoiceView\\>, array\\<int, true\\> given\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/ChoiceList/Factory/PropertyAccessDecoratorTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToLocalizedStringTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, float given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToLocalizedStringTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToRfc3339Transformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php

		-
			message: "#^Parameter \\#1 \\$rfc3339 of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToRfc3339Transformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToRfc3339TransformerTest.php

		-
			message: "#^Call to method DateTimeImmutable\\:\\:setTimezone\\(\\) on a separate line has no effect\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToStringTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToStringTransformerTest.php

		-
			message: "#^Call to method DateTimeImmutable\\:\\:setTimezone\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToTimestampTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$dateTime of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\DateTimeToTimestampTransformer\\:\\:transform\\(\\) expects DateTimeImmutable\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/DateTimeToTimestampTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\IntegerToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/IntegerToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\IntegerToStringTransformer\\:\\:reverseTransform\\(\\) expects string, array\\<int, string\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/IntegerToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToLocalizedStringTransformer\\:\\:transform\\(\\) expects Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\Model\\\\MoneyValue\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToStringTransformer\\:\\:reverseTransform\\(\\) expects string\\|null, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\MoneyToStringTransformer\\:\\:transform\\(\\) expects Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\Model\\\\MoneyValue\\|null, string given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/MoneyToStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\NumberToLocalizedStringTransformer\\:\\:reverseTransform\\(\\) expects string, int given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/NumberToLocalizedStringTransformerTest.php

		-
			message: "#^Parameter \\#1 \\$value of method Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Core\\\\DataTransformer\\\\NumberToStringTransformer\\:\\:reverseTransform\\(\\) expects string, array\\<int, string\\> given\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/DataTransformer/NumberToStringTransformerTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/Type/CountryTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/CurrencyTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/DateTimeTypeTest.php

		-
			message: "#^Call to method DateTimeImmutable\\:\\:setTimezone\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/DateTimeTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/Type/DateTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/IntegerTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 2
			path: lib/Core/Tests/Extension/Core/Type/LanguageTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/LocaleTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/MoneyTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/NumberTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 3
			path: lib/Core/Tests/Extension/Core/Type/TimeTypeTest.php

		-
			message: "#^Call to an undefined method Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\:\\:finalizeConfig\\(\\)\\.$#"
			count: 1
			path: lib/Core/Tests/Extension/Core/Type/TimezoneTypeTest.php

		-
			message: "#^Method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Field\\\\ResolvedFieldTypeTest\\:\\:getMockFieldType\\(\\) should return PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldType but returns PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\.$#"
			count: 1
			path: lib/Core/Tests/Field/ResolvedFieldTypeTest.php

		-
			message: "#^Variable \\$this in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: lib/Core/Tests/GenericFieldSetBuilderTest.php

		-
			message: "#^Method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\GenericFieldSetTest\\:\\:createFieldMock\\(\\) has invalid return type PHPUnit_Framework_MockObject_MockObject\\.$#"
			count: 1
			path: lib/Core/Tests/GenericFieldSetTest.php

		-
			message: "#^Method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\GenericFieldSetTest\\:\\:createFieldMock\\(\\) should return PHPUnit_Framework_MockObject_MockObject but returns PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\.$#"
			count: 1
			path: lib/Core/Tests/GenericFieldSetTest.php

		-
			message: "#^Parameter \\#1 \\$fields of class Rollerworks\\\\Component\\\\Search\\\\GenericFieldSet constructor expects array\\<Rollerworks\\\\Component\\\\Search\\\\Field\\\\FieldConfig\\>, array\\<string, PHPUnit_Framework_MockObject_MockObject\\> given\\.$#"
			count: 3
			path: lib/Core/Tests/GenericFieldSetTest.php

		-
			message: "#^Parameter \\#1 \\$compares of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Query\\\\QueryGenerator\\:\\:processCompares\\(\\) expects array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\Compare\\>, array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\ValueHolder\\> given\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Query/QueryGenerator.php

		-
			message: "#^Parameter \\#1 \\$patternMatchers of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Query\\\\QueryGenerator\\:\\:processPatternMatchers\\(\\) expects array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\PatternMatch\\>, array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\ValueHolder\\> given\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Query/QueryGenerator.php

		-
			message: "#^Parameter \\#1 \\$ranges of method Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Dbal\\\\Query\\\\QueryGenerator\\:\\:processRanges\\(\\) expects array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\Range\\>, array\\<Rollerworks\\\\Component\\\\Search\\\\Value\\\\ValueHolder\\> given\\.$#"
			count: 2
			path: lib/Doctrine/Dbal/Query/QueryGenerator.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Dbal\\\\Mocks\\\\ConnectionMock\\:\\:\\$_platform is never read, only written\\.$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Mocks/ConnectionMock.php

		-
			message: "#^Return type \\(void\\) of method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Dbal\\\\Mocks\\\\ConnectionMock\\:\\:insert\\(\\) should be compatible with return type \\(int\\|string\\) of method Doctrine\\\\DBAL\\\\Connection\\:\\:insert\\(\\)$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Mocks/ConnectionMock.php

		-
			message: "#^Return type \\(void\\) of method Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Dbal\\\\Mocks\\\\DatabasePlatformMock\\:\\:getBlobTypeDeclarationSQL\\(\\) should be compatible with return type \\(string\\) of method Doctrine\\\\DBAL\\\\Platforms\\\\AbstractPlatform\\:\\:getBlobTypeDeclarationSQL\\(\\)$#"
			count: 1
			path: lib/Doctrine/Dbal/Tests/Mocks/DatabasePlatformMock.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Tests\\\\Doctrine\\\\Orm\\\\CachedDqlConditionGeneratorTest\\:\\:\\$cacheDriver \\(PHPUnit\\\\Framework\\\\MockObject\\\\MockObject&Psr\\\\SimpleCache\\\\CacheInterface\\) does not accept Doctrine\\\\Common\\\\Cache\\\\Cache&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\.$#"
			count: 1
			path: lib/Doctrine/Orm/Tests/CachedDqlConditionGeneratorTest.php

		-
			message: "#^Offset 0 does not exist on array\\<string, Rollerworks\\\\Component\\\\Search\\\\Doctrine\\\\Orm\\\\OrmQueryField\\>\\.$#"
			count: 2
			path: lib/Doctrine/Orm/Tests/FieldConfigBuilderTest.php

		-
			message: "#^Variable \\$query on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: lib/Elasticsearch/QueryConditionGenerator.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: lib/Elasticsearch/Tests/QueryConditionGeneratorTest.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Symfony\\\\Validator\\\\InputValidator\\:\\:\\$errorList is never read, only written\\.$#"
			count: 1
			path: lib/Symfony/Validator/InputValidator.php

		-
			message: "#^Property Rollerworks\\\\Component\\\\Search\\\\Extension\\\\Symfony\\\\Validator\\\\InputValidator\\:\\:\\$field is never read, only written\\.$#"
			count: 1
			path: lib/Symfony/Validator/InputValidator.php

