<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true" verbose="true"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertErrorsToExceptions="false"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="RollerworksSearch Test Suite">
            <directory>./lib/*/Tests/</directory>
            <directory>./lib/*/*/Tests/</directory>
            <exclude>./lib/Doctrine/Dbal/Tests/</exclude>
            <exclude>./lib/Doctrine/Orm/Tests/</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib</directory>
            <exclude>
                <directory>./vendor/</directory>
                <directory>./lib/*/Tests/</directory>
                <directory>./lib/*/*/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

</phpunit>
