[submodule "sphix-theme"]
	path = doc/_themes/rollerworks
	url = https://github.com/rollerworks/rollerworks-sphinx-theme.git
[submodule "sphinx-php"]
	path = doc/_exts
	url = http://github.com/fabpot/sphinx-php
