<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>

        <env name="ELASTICSEARCH_HOST" value="localhost"/>
        <env name="ELASTICSEARCH_PORT" value="59200"/>
    </php>

    <testsuites>
        <testsuite name="RollerworksSearch Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor/</directory>
                <directory>./Tests/</directory>
                <directory>./bin/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
